# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
.venv-crewai/

# LaTeX intermediates
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc


/ref
.env
latex/main.pdf
